
.selection-character-section{
    height: 100%;
    width: 99vw;
    background-image: url('../../images/commonImages/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
/*  */
    display: grid;
    grid-template-rows: 20% 40% 10% 5% 20%;
}

.character-section-title{
    width: 200px;
    align-self: center;
    justify-self: center;
}

.form-button{
    align-self: center;
    justify-self: center;
}

.character-list{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.name-input{
    width: 50%;
    align-self: center;
    justify-self: center;
    border-radius: 10%;
    border: 2px solid #C20B0B;
    background-color: #C20B0B;
    /* Text */
    color: white;
    font-family: SuperMario, sans-serif;
    height: 5vh;
    text-align: center;
    font-size: 5vh;
}